@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.checkBox{
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border-color: lightgray;
}

.header_title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}
.title {
  font-weight: 600;
}

.emiCalcPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 60px;
  gap: 20px;

}

.labels {
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 100%;
}

.tenure {
  width: 15%;
  height: 50px;
  border-radius: 100px;
  background: none;
  background-color: rgb(226,226,226);
  color: black;
}

.tenure_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.selected {
  background-color: #009ad6;
  color: black;
}

.inputBox {
  color: black;
  padding: 4px;
}